button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include btn();
}

/*-------------- THEME START------------ */
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	font-weight: 200;
	text-transform: uppercase;
	font-style: normal;

	&:focus{
		outline: none;
	}

}

/*-------------- THEME END------------ */
