.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

//--------------THEME STYLE START-----------

#secondary{
	.widget{
		.widget-title{
			display: block;
			background-color: $color__secondary_deco;
			padding: 0.5em 1em;
			margin-bottom: 1.5em;
		}

		li{
			margin: 0.5em 0;
		}

		&:first-of-type{
			.widget-title{
				margin-top: 0;
			}
		}

	}
}

span.expand {
	position: absolute;
	right: 0;
	top: 0.25em;
	width: 1em;
	height: 1em;
	cursor: pointer;
	z-index: 1;
	text-align: center;

	&:before{
		font-family: ellie-icons;
		font-size: 1em;
		line-height: 1em;
		content: '\e800';
		display: block;
		color: inherit;
	}

	.expanded > &{
		&:before{
			content: '\e802';
		}
	}

	ul > li > ul > li > &{

		display: none;

	}

}

.widget_nav_menu{
	li{
		> .sub-menu,
		> .children{
			max-height: 0;
			overflow: hidden;
			box-sizing: content-box;
			position: relative;
			@include anim(max-height);
		}
	}
}

.widget_search{

	.search-field{
		width: 80%;
	}

	.search-submit{
		border:none;
		background-color: transparent;
		color: inherit;
		outline: none;
		max-width: 17%;
		&:hover{
			background-color: transparent;
		}

	}
}

.widget_nav_menu{
	.menu{
		padding-left: 0;

		li{
			@include bullet;
		}
	}
}

/* Calendar widget */
.widget_calendar {

	table {
		margin: 0;
		border-collapse: collapse;
	}

	table thead {
		border-top: #ebebeb 1px solid;
		border-left: #ebebeb 1px solid;
		border-right: #ebebeb 1px solid;
		padding: 4px;
	}

	table tbody {
		border-left: #ebebeb 1px solid;
		border-right: #ebebeb 1px solid;
		border-bottom: #ebebeb 1px solid;
		padding-bottom: 4px;

	}

	table tbody tr {
		padding-left: 4px;
		padding-right: 4px;
		border-collapse: collapse;
	}

	table tbody tr:last-of-type td {
		padding-bottom: 14px;
		position: relative;
	}

	table tbody tr:last-of-type td:after {
		content: '';
		height: 4px;
		width: 100%;
		background-color: #fff;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;

	}

	table tbody:after {

	}

	table tr:before,
	table tr:after {
		content: '';
		display: table-cell;
		width: 5px;
	}

	table tbody td {
		background-color: #fafafa;
	}

	td,
	th {
		line-height: 1em;
		padding: 10px 10px 10px 10px;
		text-align: center;
		font-size: 13px;
	}

	caption {
		text-transform: uppercase;
		font-size: 0.813em;
		color: #222222;
		margin-bottom: 28px;
	}

	tbody tr > td:first-child{
	}

	tbody a {
		line-height: 1em;
		font-size: inherit;
	}

	tbody a:hover,
	tbody a:focus {
		color: #000;
		text-decoration: underline;
	}

	#today{
		color: #000;
	}

}

/* Widget Tags */

.tagcloud{
	a{
		display: inline-block;
		padding: 2px 8px 4px;
		text-decoration: none;

		@include anim(color);

		&:hover{
			color: $color__accent;
		}

	}
}

/* Widget Gallery */

.widget_media_gallery{
	.gallery-item{
		padding: 2px;
	}
}

/* Off-canvas sidebar widgets */

.offcanvas-sidebar{
	.widget_nav_menu{
		li{
			text-transform: uppercase;
			font-size: 0.875rem;
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
	.hidden-logo{
		color: inherit;
		text-align: left;
	}
}

/* Footer sidebar widgets */

.#{$theme_prefix}-footer-widget-area{

	margin-top: 3rem;
	background-color: $color__secondary_deco;

	.widget{
		padding: 2rem;

		.widget-title{
			font-weight: normal;
		}

	}

	.widget_mc4wp_form_widget:first-child:last-child{
		text-align: center;

		input[type="email"]{
			width: 100%;
			@include medium{
				width: 428px;
			}
		}

		input[type="submit"]{
			padding: 0.824em 3em;
			margin-left: 1em;
			margin-top: 1em;
		}
	}

}

//--------------THEME STYLE END-------------
