$color__accent: #f5bdb6;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text: #3d3d3d;
$color__text-screen: #3d3d3d;
$color__accent_text: #f5bdb6;
$color__text-input: #666;
$color__text-button: #fff;
$color__text-button-hover: #fff;
$color__text-input-focus: #111;
$color__link: #000000;
$color__link-visited: #7e7e7e;
$color__link-hover: #7e7e7e;
$color__text-main: #3d3d3d;

$color__border:#f5bdb6;
$color__border-button: #000;
$color__border-button-hover: $color__accent;
$color__border-button-focus: #000;
$color__border-input: #e1e1e1;
$color__border-focus: #000;
$color__border-abbr: #666;
$color__background-button-hover: $color__accent;


$color__page_heading_title: #000;
$color__secondary_deco: #f8f8f8;
