.site-header{
  z-index: 1;

  .site-title{
    margin-top:0;
    margin-bottom:0;
  }

  .site-branding{
    padding: 20px 0 16px;
  }

  .site-description{
    margin: 0;
  }

  .custom-logo-link,
  .site-title{
    display: inline-block;
  }

  .custom-logo-link{
    max-width: $size__logo-width;
  }

  body:not(.#{$theme_prefix}-header-menu-around) & {

  }

  body:not(.#{$theme_prefix}-header-menu-around) & {
    .site-branding{
      text-align: center;
    }
  }

  @include smedium{

    body:not(.#{$theme_prefix}-header-menu-around).#{$theme_prefix}-logo-position-right & {
      .site-branding{
        text-align: right;
      }

      .custom-logo-link{
        margin-left: auto;
      }

    }

    body:not(.#{$theme_prefix}-header-menu-around).#{$theme_prefix}-logo-position-left & {
      .site-branding{
        text-align: left;
      }

      .custom-logo-link{
        margin-right: auto;
      }

    }

    body:not(.#{$theme_prefix}-header-menu-around).#{$theme_prefix}-logo-position-center & {
      .site-branding{
        text-align: center;
      }

      .custom-logo-link{
        margin-left: auto;
        margin-right: auto;
      }

    }

  }

  @include limit-smedium{
    .custom-logo-link{
      margin-left: auto;
      margin-right: auto;
    }
  }

  .site-title{
    margin-left: auto;
    margin-right: auto;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
}

body{
  position: relative;
}

.sticky-header{
  background-color: transparent;
  opacity: 1;
  @include anim(opacity, background-color);

  &.out{
    opacity: 0;
  }

  &.out:hover{
    opacity: 1;
    background-color: #fff;
  }

  .offcanvas-menu-toggled-on &.out{
    opacity: 1;
  }

  body:not(.#{$theme_prefix}-header-menu-around) & {
    .#{$theme_prefix}-pre-header-widget-area,
    .#{$theme_prefix}-post-header-widget-area,
    .site-branding{
    }

    .custom-logo-link,
    .site-title{
      @include anim(transform, margin);
    }

  }

  body:not(.#{$theme_prefix}-header-menu-around) &.out{
    @include smedium{
      .#{$theme_prefix}-pre-header-widget-area,
      .#{$theme_prefix}-post-header-widget-area,
      .site-branding{
      }

      .custom-logo-link,
      .site-title{

      }

    }
  }


}


/*--------- THEME STYLE START ----------*/

.site-header{
  .site-branding{
    .wp-custom-logo &{
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        display: inline;
      }
    }
  }

  // Off Canvas Sidebar toggler start
  .menu-icon-trigger.menu-toggle{
    display: inline-block!important;
  }
  .menu-icon-wrapper#menu-icon-wrapper{
    font-size: initial;

    position: relative;
    opacity: 0;
    display: inline-block;

    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;

    transition: .1s;
    vertical-align: top;
    pointer-events: auto;
  }
  .menu-icon-wrapper.scaled{
    transform: scale(.5);
  }
  .menu-icon-wrapper svg{
    margin-top: -4px;
    transform: scale(.9);
    transform-origin: 0 0;
  }

  .menu-icon-wrapper svg path{
    -webkit-transition: stroke .3s .4s;
    transition: stroke .3s .4s;

    stroke: #000;
    stroke-width: 2.5px;
    fill: transparent;
  }

  .menu-icon-wrapper .menu-icon-trigger{
    overflow: hidden;

    height: 80px;

    cursor: pointer;
    pointer-events: auto;

    outline: none;
  }
  // Off-canvas Sidebar toggler end
}

// Off-canvas sidebar animation start
#page{
    transform: translate3d(0,0,0);
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.offcanvas-sidebar{
  position: absolute;
  top: 0;
  left: 0;

  transform: translate3d(calc(-100vw + 60px), 0, 0);
  width: calc(100vw - 60px);

  @include smedium{
    transform: translate3d(-$size__offcanvas-block, 0, 0);
    width: $size__offcanvas-block;
  }
  height: 100vh;
  padding: 20px 30px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.offcanvas-menu-toggled-on{
  #page{
    transform: translate3d(calc(100vw - 60px), 0,0);
    @include smedium{
      transform: translate3d($size__offcanvas-block, 0,0);
    }
  }
}

// Off-canvas sidebar animation end

/*--------- THEME STYLE END ------------*/
